.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-height: 5rem;
}

@media screen and (max-width:320px) {
    .header-container {
        padding: 1rem;
    }
}



.header {
    font-weight: bold;
}

#dark .header {
    color: var(--dark-mode-text);
}

.dark-mode-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#dark .dark-mode-toggle {
    color: var(--dark-mode-text);
}

.moon {
    margin-right: .3rem;
}

.hide {
    display: none
}