/* Search Bar */

.search-container {
    position: relative;
    padding: 0 1rem;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:630px) {
    .search-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 2rem;
    }
}

.input-container {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.search-bar {
    min-height: 3rem;
    min-width: 21rem;
    text-indent: 4rem;
    border: none;
}

@media screen and (max-width:629px) {
    .filter-container {
        margin: 2rem 0 1rem -8.5rem;
    }
}

.filter-container {
    min-width: 12.5rem;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:630px) {
    .filter-container {
        margin: 0;
    }
}

.filter-links {
    text-decoration: none;
    color: var(--light-mode-text);
    padding: 0rem 1rem;
    margin: 1rem auto;
    min-width: 12.5rem;
    min-height: 5rem;
    border: none;
    text-align: center;
    padding: 0rem .7rem;
}